{% extends "admin/change_list.html" %}
{% block object-tools %}
  {{ block.super }}
  <div style="margin-top: 10px;">
    <a class="button" href="{% url 'admin:export_today_csv' %}?date={{ today|date:'Y-m-d' }}">📤 Export Today’s CSV</a>
    <a class="button" href="{% url 'admin:export_today_csv' %}?date={{ today|date:'Y-m-d' }}&dry_run=1">🧪 Dry Run</a>
    <a class="button" href="{% url 'admin:export_today_csv' %}?date={{ today|date:'Y-m-d' }}&bundle=1">📦 Bundle Export</a>
  </div>
{% endblock %}